html {
  --shadow-color: 0deg 0% 58%;
  --shadow:
      0px 0.5px 0.6px hsl(var(--shadow-color) / 0.27),
      0px 2.4px 2.7px -0.3px hsl(var(--shadow-color) / 0.27),
      0px 4.2px 4.7px -0.6px hsl(var(--shadow-color) / 0.27),
      0px 6.4px 7.2px -0.8px hsl(var(--shadow-color) / 0.27),
      0px 9.3px 10.5px -1.1px hsl(var(--shadow-color) / 0.27),
      0px 13.4px 15.1px -1.4px hsl(var(--shadow-color) / 0.27),
      0px 19.1px 21.5px -1.7px hsl(var(--shadow-color) / 0.27),
      0px 26.7px 30px -1.9px hsl(var(--shadow-color) / 0.27),
      0px 36.7px 41.3px -2.2px hsl(var(--shadow-color) / 0.27),
      0px 49.4px 55.6px -2.5px hsl(var(--shadow-color) / 0.27);
}

@font-face {
  font-family: "Inter var";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Bold"),
    url("/fonts/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter-Bold.woff") format("woff"),
    url("/fonts/Inter-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Italic"),
    url("/fonts/Inter-Italic.woff2") format("woff2"),
    url("/fonts/Inter-Italic.woff") format("woff"),
    url("/fonts/Inter-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Light"),
    url("/fonts/Inter-Light.woff2") format("woff2"),
    url("/fonts/Inter-Light.woff") format("woff"),
    url("/fonts/Inter-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-LightItalic"),
    url("/fonts/Inter-LightItalic.woff2") format("woff2"),
    url("/fonts/Inter-LightItalic.woff") format("woff"),
    url("/fonts/Inter-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Regular"),
    url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff"),
    url("/fonts/Inter-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

header,
footer {
  padding: 1em;
}

header h1 {
  font-size: 1.3em;
  font-weight: bold;
}

main {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

figure {
  break-inside: avoid;
  margin: 1em 1.25em;
  position: relative;
  display: inline-block;
}

figcaption {
  background: radial-gradient(ellipse at bottom left, rgba(0, 0, 0, 0.7) 0%, transparent 70%);
  border-radius: 0.5em;
  bottom: 0;
  color: #fff;
  font-size: 0.9em;
  font-weight: 300;
  left: 0;
  padding: 2em 6em 1em 1em;
  position: absolute;
}

.image {
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  display: block;
  max-width: 100%;
}

a, a:visited {
  color: inherit;
}

@media screen and (min-width: 80em) {
  main {
    margin: 0 auto;
    max-width: 80em;
  }

  figure {
    margin: 2em 1.25em;
  }
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", Verdana, Geneva, Tahoma, sans-serif;
  }
}
